@import url();
*{

    margin: 0;
    padding: 0;


    box-sizing: border-box;

font-family: sans-serif;


}
body {
display: flexs;
justify-content: center;
align-items: center;
min-height: 100wh;



}
img3 {

    
    float: left;
}
.our chefs{

float: right;



}

